@charset "utf-8";
/* CSS Document */

#archiveFile{
  font-size: large;
  text-align: left;
  margin: 0% 0% 0% 20%;
}

div#runDate{
  position: relative; 
}

#runDate{
  color:black;
  font-size: small;
  position: relative;
  margin: 5% 00% 0% 82%;
  padding: 0 0 0 5%;
}

#pageSelector {
  font-size: x-large;
  text-align: left;
  margin: 5% 0% 0% 30%;
}


img#pageTitle {
  padding: 5% 0% 0% 15%;
  width:auto;
  height: auto;
}

div#pageTitle {
  margin: -40px 0 0 0;
  text-align: center;
 }
 
h2#pageTitle {
  color: #660066;
  font-size: x-large;
  padding: 0% 30% 0% 30%;

}
img#pageTitle {
  padding: 10% 0% 0% 15%;
  width:auto;
  height: auto;
}

#divAmaLogo{
  width: 25%;
  position: absolute;
}

#imgAMALogo {
  width: 150px;
  height: 75px;
  float: left;
  
  margin:10px 10px  5px 15px;  
}


#imgTbscgLogo {
  float: right;
  margin:10px 10px  0px 15px;

}

/*formatting for the ul / il menu */

body {
  margin: 0;
  padding: 0;
  font: 12px/170% Verdana, sans-serif;
  color:#ffffff;
  
  /*color: #494949;*/
}
.content {
    /*background: #edf5fa;*/
    background: #ffffff;
    /*width:300px;*/
    width:90%;
}
a:link, a:visited {
  /*color: #027AC6;*/
  color: #028396;  
  text-decoration: none;
}

a:hover {
  /*color: #0062A0;*/
    color: red;
  text-decoration: underline;
}

a:active, a.active {
  color: #090296;
    /*color: #5895be;*/
}

ul.menu, .item-list ul {
  /*margin: 0.35em 0 0 -0.5em; /*  here i am  was .35 LLTR */*/
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
  /*font-weight: bold;*/
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none; 
  background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; /*  TR */
}
.cat_close {
	background-image:url(../images/folder.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.cat_open {
	background-image:url(../images/open-folder.gif);
      	/*background-image:url(../images/menu-expanded.gif);*/
	background-repeat:no-repeat;
	background-position:left;
}
.product {
	background-image:url(../images/menu-leaf.gif);	
	background-repeat:no-repeat;
	background-position:left;
	font-weight: bold;
	color:red;
}
a.product, a.cat_close, a.cat_open {
	text-decoration:none;
}
#block-category-0 ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em .5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent no-repeat 1px .35em; /* LTR */
}




